body {
  font-size:18px;
}
#thLogo {
  width: 80px;
  float:right;
  margin:1em;
}
#appLogo {
  font-size: 24px;
  padding: 1em 0 0 1em;
  display: inline-block;
  font-weight: bold;
}
header {
  display:inline-block;
  width:100%;
}
section {

}
input {
  border: 1px solid #ccc;
}